
.accordion-body{
  padding: 0.25rem 0rem 0.25rem 1.5rem;
}
.accordion-body p{
  font-size: 12px;
  padding-left: 10px;
  overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.accordion-item{
  border: none;
}
.accordion-item h2 a span{
  overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 80%;
}
.accordion-button:not(.collapsed) {
  color: #426442;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0;
}
.accordion-button{
  padding: 0.60rem 0.75rem;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.accordion-file-button::after{
  height: 0;;
}
.folder-icon a{
  text-decoration: none;
  color: black;
}
.folder-icon a div{
  display: grid;
}
.folder-icon a div img{
  width: 50px;
              height: 50px;
              object-fit: contain;
}
.folder-icon{
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}
.folder-icon:hover{
  background-color: rgb(234, 251, 255);
}
.folder-icon a div span {
width: 50px;
font-size: 11px;
margin-top: 7px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.no_file_here{
  margin-top: calc(30% - 120px);
  color: rgb(190, 190, 190);
  
}
.no_file_here img{
  width: 50px;
  opacity: 20%;
  margin-bottom: 20px;
}
.breadcrumb_nav {
  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
  margin-top: 15px;
  margin-left: calc(5% - 10px);
}
.breadcrumbs a{
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.breadcrumbs span{
  padding-left: 10px;
}
.breadcrumbs a:hover{
  background: #e1e1e1;
}
.breadcrumbs{
  display: flex;
  width: 100%;
  overflow-x: auto;
}
.toolbar{

  height: 40px;
  width: 90%; 
  margin: 15px auto;
  background-color: #f3f2f2;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.toolbar .dropdown-menu{
  border-radius: 7px;font-size: 14px;
}
.vertical {
  border-left: 1px solid #e0e0e0;
  height: 28px;
  margin: auto 10px;
}

.button-2 {
  background-color: rgba(74, 137, 255);
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  cursor: pointer;
  padding: 10px 12px;
  text-decoration: none;
}
.button-4 {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 16px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 8px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  margin-left: 5px;
 
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}


.note-container{
  width: 90%;
  margin: 10px auto;
  
}
.note-box{
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  width: 300px;
  height: 270px;
  background-color: #fffafa;
  padding: 3px;
  border-radius: 22px;
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
}
.note-box::before {
  content: "";
  display: block; /* Aspect ratio: height/width * 100% */
}
@media (max-width: 500px) {
  .note-box {
    margin: 10px 0 0 0;
      width: 100%;
      height: auto;
  }
}
@media (max-width: 766px) {
  .note-container{
    text-align: center;
  }
}
.note-box:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 4px;
}

.note-box .thumbnail{
  width: calc(100%);
  height: calc(60%);
  border-radius: 20px 20px 0px 0px;
}
.note-box .middle{
  display: flex;
  padding: 1px;
  border-bottom: 1px solid rgb(225, 225, 225);
}
.note-box .middle .view{
  padding: 5px 0px;
  min-width: 50px;
  align-items: center;

  margin-top: -5px;
}
.note-box .middle .view span{
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  color: #9ca2a8;
}
.note-box .middle .view img{

  margin-bottom: -10px;

  height: 18px;
}
.note-box .middle .note-name{
  text-align: left;
  margin: 5px 10px 5px 2px;
  display: -webkit-box;
  font-weight: 500;
  font-size: 14px;
  -webkit-box-orient: vertical;
  color: #474747;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px; /* 1.8em (line height) * 2 lines */
  line-height: 22px;
}

.note-box .lower{
  text-align: left;
  padding: 0;
  height: 49px;
  display: flex;
  align-items: center;
  width: calc(100% - 30px);

}
.note-box .lower .userP{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}
.note-box .lower .naming{
  height: 34px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.note-box .lower .naming h4{
  font-size: 13px;
  margin-bottom: 0;
  line-height: 1;
  margin-top: 5px;
  padding: 0;
}

.note-box .lower .naming span{
  margin-top: -10;
  font-size: 9px;
  font-weight: 200;
  color: #5c5c5c;
  margin-top: 4px;

  line-height: 1;
}
.note-box .lowerDet{
  display: flex;
}
.note-box .lowerDet .option{
  margin: 10px 5px;
  float: right;
  width: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: transparent;

}
.note-box .lowerDet .option img{
  height: 30px;
}
.note-box .lowerDet .option:hover{
background-color: #dcdada;
}
.note-box .lowerDet .option:active{
  background-color: #adadad;
  }
/* .note-box .note-name {
  max-height: 50px;
  overflow: hidden;
  position: relative;
   /* Adjust based on your font size and desired line height 
}

.note-box .note-name::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2em;
  background: linear-gradient(to bottom, transparent, white);
}

.note-box .note-name::after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding-left: 0.2em;
} */


































/* file-upload */
/* body{
  padding: 10px;
  background: #0086fe;
} */
/* .upload-box >p{
  text-align: center;
  font-weight: 500;
  margin-top: 10px;
}
img{
  width: 100%;
}

.icon{
  width: 80px;
  height: 80px;
}
.upload-box{
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}
.upload-box form{
  height: 170px;
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #0086fe;
}
form:where(i,p){
  color: #0086fe;
}
form i{
  font-size: 50px;
}
form p{
  margin-top: 15px;
  font-size: 16px;
}
section .row{
  margin-bottom: 10px;
  background: #d5ebff;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
section .row i{
  color: #0086fe;
  font-size: 30px;
}
section .details span{
  font-size: 12px;
}
.loading-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.loading-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.loading-area .content .loading-bar{
  height: 10px;
  width: 100%;
  margin-bottom: 4px;
  background: #411818;
  border-radius: 30px;
}
.content .loading-bar .loading{
  transition: all 0.1s ease;
  height: 100%;
  width: 90%;
  background: #0086fe;
  border-radius: inherit;
}
.uploaded-area{
overflow-y: scroll;
}
.uploaded-area .onprogress{
max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
display:flex;
 margin-left: 15px;
flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}
.upload-box.dragging {
  border-color: #00cc00;
  background-color: #111611;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
}

.draggable-box {
  width: 200px;
  height: 200px;
  background-color: #ffcc00;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #333;
  position: relative;
  transition: background-color 0.3s;
}

.draggable-box.active {
  background-color: #ff9900;
}

.draggable-box.active .plus-sign {
  position: absolute;
  font-size: 3em;
  color: #fff;
}

.App.dragging {
  background-color: rgba(0, 0, 0, 0.5);
}

.App.dragging .drop-here {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: #fff;
  pointer-events: none;
} */
