body {
    font-family: sans-serif;
  }

  .signup_form {
    width: 300px;
    margin: 80px auto 0 auto;
  }

  .signup_form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .signup_form button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
  }

  .login-link {
    text-align: center;
    margin-top: 10px;
  }

  a {
    color: #000;
}